{% extends 'main/layout.html' %}

{% block pagename %}
    Контакты
{% endblock %}

{% block stuff %}
    <div class="oski"><p>Нас можно найти в тг, в дс и в вк.</p>
        <button class="btn-header" type="button" onclick="window.location.replace('https://vk.com/teamanarkhisty')">Группа в ВК</button>
        <button class="btn-header" type="button" onclick="window.location.replace('https://discord.com/invite/8B3eKkU37q')">Сервер в ДС</button>
        <button class="btn-header" type="button" onclick="window.location.replace('https://t.me/b3rg3n')">Оскать в ТГ</button></div>
{% endblock %}