{% extends 'main/layout.html' %}

{% block pagename %}
    Team Анархисты
{% endblock %}

{% block stuff %}
    <div class="content">
        <p>Team Анархисты - это по сути тот же Творческий Уголок Переводчиков, только ребрендинрованный после разногласий с менеджером и последующим выходом всех его переводчиков.</p>
        <p>Мы достаточно молодая команда, но уже заявившая о себе такими модами, как Dimensions и Doki Doki Christmas Time, а дальше только больше! Следите за обновлениями и не пропустите выход новых переведённых модов.</p>
        <p>В планах - разработка модификации "В тихом омуте" для игры Love Money Rock'n'roll. Совсем скоро будет доступно на просторах steam workshop.</p>
        <p>Так же мы известны как разработчики модификации "True Story", которая нахуй разъебала реддит, вк, expo, и прочие непотребства. Как говорится: ебём как последних сук эту индустрию доки-модов и её ебаных школопидоров обитателей.</p>
        <p>Ссылки на весь наш стафф находятся в шапке сайта.</p>
    </div>
{% endblock %}